body {
    background: #000;
}

p {
    color: white;
}

h1 {
    color: white;
}

.title {
    font-family: fantasy;
    font-size: 150px;
    opacity: 0.5;
    font-stretch: condensed;
    text-align: center;
    text-transform: uppercase;
    line-height: 150px;
    padding: 200px 0 100px 0;
}

.text {
    margin: 50px auto 150px;
    text-transform: capitalize;

}

.pictuure {
    display: block;
    animation: ease-in-out;
}

.btn2 {
    animation: .5s linear 1s infinite alternate slidein;
}